@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* GENERAL */

html {
	scroll-behavior: smooth;
}

* {
    font-family: 'Fira Code', monospace;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    background-color: white;
}

/* SUB HEADER */

#sub-header ul{
    width: 100%;
    list-style-type: none;
    background: repeating-linear-gradient(90deg, #252526, #373737, #252526);
    position: fixed;
    top: 0px;
    background-repeat:repeat-x;
    background-size: 400% 100%;
    animation: colorChange 7s linear infinite;
    z-index: 4;
}

#sub-header li {
    float: left;
    border-right: 1px solid #1c1c1c ;
}



.sub-header-item {
    display: block;
    background-color: #2D2D2D;
    padding: 10px;
    color: white;
    font-weight: 100;
    font-size: 14px;
}

.sub-header-active {
    background-color:#1e1e1e ;
    animation: subheaderbtn .5s forwards;
}

#sub-header li a:hover {
    background-color: #1E1E1E;
    transition-duration: .5s;
}

/* HEADER */

header {
    height: 100vh;
    background-image: url("images/header-background.jpg");
    z-index: 0;
    background-size: cover;
    
    }
    header:after {
        z-index: 1;
        content:'';
        position: absolute;
        height: 100vh;
        width: 100%;
        background: linear-gradient(to bottom, #000000, #1c1c1ccc);
        }   

.header {
    position: relative;
    width: 100%;
    top: 38px;
    z-index: 3;
}

.header-scroll {
    position: fixed;
    width: 100%;
    top: 38px;
    z-index: 3;
    background-image:linear-gradient(to bottom, #1c1c1c, #1c1c1cd9);
    height: 70px;
    animation: headerfixed .8s forwards;
    }

.header-back {
    position: relative;
    width: 100%;
    top: 38px;
    z-index: 3;
    animation: headerback 1s forwards;
    background-image:linear-gradient(to bottom, #1c1c1c, #1c1c1cd9);
}
/* LOGO */

#logo {
    display: inline;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;

}

#logo h1 {
    display: inline;
    font-size: 40px;
}

.logo-content {
    display: inline-block
}

.logo-content p {
    margin-bottom: -5px;
    display: inline-block;
    overflow: hidden;
    width: 0;
    color: white;
    animation: index 0.6s steps(40, end) forwards;
    
}

/* MENU NAV */

#menu-nav ul {
    list-style-type: none;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px;
}

#menu-nav li {
    float: left;
    padding-right: 10px;
    
     
}

#menu-nav li a {
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
    transition-duration: 0.3s;
}

/* MENU MOBILE */

#menu-nav-mobile {
    display: none;
    position: absolute;
    right: 10px;
    top: 15px;
    transition: .3s;
    
    }
    .menu-nav-mobile-active {
        background-color: white;
        text-align: center;
        border-radius: 3px;
        padding: 5px 10px;
        z-index: 5;
        box-shadow: 0px 2px 6px 0px #000000b0;
        }

#menu-nav-mobile ul {
    display: none;
    list-style-type: none;
    
    }

.nav-mobile-icon {
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
    }
    

.mobile-icon-bar {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: white;
    transition: 0.3s;
    
    }
    .mobile-icon-bar:last-child {
        margin-bottom: 0px
        }
    .bar-active {
        background-color: black;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        }

/* MENU ITEM 1 */

#menu-item-1{
    color: #569CB3;
}
    #menu-item-1:hover{
        color: black;
        background-color: white;
        border-radius: 3px;
    }
        #menu-item-1:hover::after{
            content: "()";
            position: relative;
            animation: showafter 1s forwards;
        }

/* MENU ITEM 2 */        

#menu-item-2{
    color: #DCB862;
}
    #menu-item-2:hover{
        color: black;
        background-color: white;
        border-radius: 3px;
    }
        #menu-item-2:hover::after{
            content: "{}";
            position: relative;
            animation: showafter 1s forwards;
        }

/* MENU ITEM 3 */

#menu-item-3{
    color: #C586C0;
}
    #menu-item-3:hover{
        color: black;
        background-color: white;
        border-radius: 3px;
    }
        #menu-item-3:hover::after{
            content: "[]";
            position: relative;
            animation: showafter 1s forwards; 
        }

/* MENU ITEM 3 */

#menu-item-4{
    color: #4EC98F;
}
    #menu-item-4:hover{
        color: black;
        background-color: white;
        border-radius: 3px;
        transition-delay: 0.2;
    }
    #menu-item-4:hover::after{
        content: "=>";
        position: relative;
        animation: showafter 1s forwards;
    }

/* HEADER ANIMATIONS */



#slides {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex; 
}

.slide {
    box-shadow: 0px 2px 6px 0px #000000b0;
    max-width: 500px;
    min-width: 200px;
    max-height: 300px;
    min-height: 200px;
    background-color: white;
    padding: 40px 0px;
    border-radius: 5px;
    margin: 0px 10px;   
}


#slides p {
    margin-bottom: 5px;
    transition: 1s;
}

/* INDEX ANIMATION */

.slide-before{
    transform: perspective(1000px) rotateY(-45deg);
    opacity: .8;
    cursor: pointer;
    
}
.slide-main{
    transform: scale(1.2);
    
}
.slide-after{
    transform: perspective(1000px) rotateY(45deg);
    opacity: .8;
    cursor: pointer;
}


/* SLIDE 1 */

.slide1 .a1, .a2, .a3, .a4, .a5, .a6 {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    color: black;
    animation: index 1s steps(70, end) forwards;
    } 

    .slide1 .a1{
        animation-delay: 1s;
        transition-delay: 1s; 
    }
    .slide1 .a2 {
        animation-delay: 2.5s;
        transition-delay: 2.5s; 
    }
    .slide1 .a3 {
        animation-delay: 4s;
        transition-delay: 4s; 
    }
    .slide1 .a4 {
        animation-delay: 5.5s;
        transition-delay: 5.5s; 
    }
    .slide1 .a5 {
        animation-delay: 7s;
        transition-delay: 7s; 
    }
    .slide1 .a6 {
        animation-delay: 8.5s;
        transition-delay: 8.5s; 
    }

/* SLIDE 2 */
            

.slide2 .a1, .a2, .a3, .a4, .a5, .a6 {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    color: black;
    animation: index 1s steps(70, end) forwards;
    } 

    .slide2 .a1 {
        animation-delay: 1s;
        transition-delay: 1s; 
        }
    .slide2 .a2 {
        animation-delay: 2.5s;
        transition-delay: 2.5s; 
        }
    .slide2 .a3 {
        animation-delay: 4s;
        transition-delay: 4s;
        }
    .slide2 .a4 {
        animation-delay: 5.5s;
        transition-delay: 5.5s; 
        }
    .slide2 .a5 {
        animation-delay: 7s;
        transition-delay: 7s; 
        }
    .slide2 .a6 {
        animation-delay: 8.5s;
        transition-delay: 8.5s; 
        }
    
 /* SLIDE 3 */



.slide3 .a1, .a2, .a3, .a4, .a5, .a6 {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    color: black;
    animation: index 1s steps(70, end) forwards;
    } 

    .slide3 .a1 {
        animation-delay: 1s;
        transition-delay: 1s; 
        }
    .slide3 .a2 {
        animation-delay: 2.5s;
        transition-delay: 2.5s; 
        }
    .slide3 .a3 {
        animation-delay: 4s;
        transition-delay: 4s; 
        }
    .slide3 .a4 {
        animation-delay: 5.5s;
        transition-delay: 5.5s; 
        }
    .slide3 .a5 {
        animation-delay: 7s;
        transition-delay: 7s; 
        }
    .slide3 .a6 {
        animation-delay: 8.5s;
        transition-delay: 8.5s; 
        }
        
       /* KEY FRAMES */

@keyframes subheaderbtn {
    0% { top: 0px;}
    50% {position: relative; top: 3px;}
    100% {top: 0px;}
}

@keyframes showafter {
    0% {left: -5px; opacity: 0;}
    100% {left: 2px; opacity: 1;}
}

@keyframes index {
    from { width: 0; opacity: 0;}
    to { width: 100%; opacity: 1;}
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: white; } 
}

@keyframes colorChange {
    0%{background-position:100% 50%}
    100%{background-position:-33% 50%} 
}

@keyframes headerfixed {
    0% {right: 300px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}

@keyframes headerback {
    0% {opacity: 0; left: 300px ; }
    100% {opacity: 1; left: 0px; background-image:linear-gradient(to bottom, transparent, transparent);}
    
}

/* REPONSIVE CSS */

@media only screen and (max-width: 1000px) {
    #logo h1 { 
        font-size: 30px;
    }

    #menu-nav li a {
        font-size: 16px;
    }

  }

@media only screen and (max-width: 800px) {
    #logo h1 { 
        font-size: 30px;
    }

    #menu-nav {
        display: none;
    }

    #menu-nav-mobile {
        display: block;
    }

  }

  @media only screen and (max-width: 650px) {
    

    #menu-nav {
        display: none;
    }

    #menu-nav-mobile {
        display: block;
    }

    .logo-content p {
        font-size: 13px;
    }
  }

  





